body {
    background-image:url(index/background.png);   /**设置背景图片**/ 
}
#bigbox {
    width: 1150px;                        /**设置宽度**/
    height: 96px;                        /**设置高度**/
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;             /**设置阴影区域**/
    margin-left: auto;               
    margin-right: auto;          /**设置居中显示**/
}

#header>img {
    width: 1150px;
    height: 104px;
}
#header div img {
    position: absolute;
    width: 80px;
    top: 12px;
    left: 50px;
    border-radius: 50%;
}
#container_1 {
    background: #f1efe3;   /**设置背景颜色**/
    padding-top: 10px;       /**设置内部上边距**/
    font-size: 0px;
}
#container_1>div {
    font-size: 16px;         /**设置字体大小**/
}
#nav {
    width: 170px;             /**设置导航区宽度**/
    display: inline-block;      /**设置保留上下外边距/内边距**/
    height: 390px;                /**设置导航区高度**/
}
#nav a {
    display: inline-block;
    text-align: center;
    width: 170px;
    background: -webkit-linear-gradient(to right,rgb(82,82,82),rgb(61,114,180));
    background: linear-gradient(to right,rgb(82,82,82),rgb(61,114,180));
    height: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
}




#container_1_right {
    height: 370px;
    width: 970px;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 10px;
    
}
#bg2 {
    margin-top: 10px;
    width: 170px;
    margin-left: 10px;
    height: 210px;
    background-color: antiquewhite;
    border-radius: 4px;
    overflow: hidden;
}
#bg2 img {
    width: 175px;
}

.inner {
    width: 940px;
    height: 370px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.wrapper {
    width: 400%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    transition: none;
}
.wrapper li {
    flex: 1px;
    list-style: none;
    margin: 0px;
    padding: 0px;
} 
.wrapper li img {
    width: 970px;
    height: 370px;
} 

#container_2 {
    padding-top: 15px;
    padding-bottom: 29px;
    width: 1150px;
    margin-top: 10px;
    background: #f1efe3;
    height: 451px;
    display: flex;
    background-image: url(message/m2.png);  
}
.title {
    display: inline-block;
    font-size: 56px !important;
    width: 24px;
    margin-left: 200px;
    font-style: italic;
    font-weight: bold;
    color: #3f6ea9;
    line-height: 80px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.form {
    margin-left: 90px; 
    margin-top: 10px; 
    background-image: url(message/m2.png);  
}
.liuyan {
    border: 2px solid darkseagreen;
    width: 600px;
    padding: 15px;
    height: 444px;
}
.liuyan .item {
     margin-top: 10px;
     color: #171717;
}
.liuyan .wenben {     /**设置文本框样式**/
    width: 98%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ddd;
}
.liuyan .xiala {    /**设置下拉框样式**/
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ddd;
}
.liuyan .danxuan {   /**设置单选框样式**/
    margin-right: 40px;
    float: left;
}
.liuyan .duoxuan {    /**设置多选框样式**/
    margin-right: 40px;
    float: left;
}
.liuyan .neirong {   /**设置内容框样式**/
    width: 98%;
    height: 113px;
    padding-left: 10px;
    border: 1px solid #ddd;
}
.liuyan .anniu {  /**设置提交按钮样式**/
    width: 180px;
    height: 35px;
    background-color: darkseagreen;
    color: #fff; 
    border: none;        /*去除自带边框线 */
    margin-left: auto;    /*居中显示*/
    margin-right: auto;
    display: block;
    cursor: pointer;      /*鼠标移动使显示小手图标*/
    font-weight: bold;    /*字体加粗*/
}
.clear{
    width: 100%;
    clear: both;
}

footer {
    width: 1150px;
    text-align: center;
    margin-top: 10px;
    line-height: 60px;
    background: #525252;
    background: -moz-linear-gradient(to right,rgb(82,82,82),rgb(61,114,180));
    background: linear-gradient(to right,rgb(82,82,82),rgb(61,114,180));
    color: #fff;
    font-size: 14px;
}
